@import '../../css/mixins.styl'
@import '../../css/variables.styl'

.container
  Body(500)
  color Gray

.list
  flexbox(column, flex-start, flex-start, 8px)

.item
  flexbox(row, flex-start, flex-start)
