MaxWidth = 1360px
BreakpointL = 960px
BreakpointM = 700px
BreakpointS = 360px
desktop = 'min-width:' + BreakpointL
tablet = 'max-width:' + BreakpointL
mobileL = 'max-width:' + BreakpointM
mobile = 'max-width:' + BreakpointS

//Colors
White = #F1F1F1
Gray = #777777
Black = #111111

Primary = #6558F5
Secondary = #2C88D9
Warning = #DF4F2F