@import '../../css/mixins.styl'
@import '../../css/variables.styl'

.betTypeList
  flexbox(column, flex-start, flex-start, 8px)
  Button()
  color Warning
  min-width 180px

.betType
  width 100%
  flexbox(row, space-between, center, 16px)
  padding-right 12px

.row
  flexbox(row, space-between, center)