@import '../../css/mixins.styl'
@import '../../css/variables.styl'

.title
  Heading(700)
  @media ({mobileL} )
    Subtitle(700)

.yourNumber_title
  Subtitle()

.number
  color Primary
  Heading(700)
  vertical-align middle
  margin-left 8px